body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-wrap: pretty;
  max-width: 60ch;
  padding: 20px;
  margin: 40px auto;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin: 0.8em 0;
}